<%- include("../../partials/header.ejs")%>
<%- include("../../partials/navbar.ejs")%>

<div class="container"> 
    <hr>
    <h2>Categorias</h2>
    <a class="btn btn-success" href="/admin/categories/new"> Criar nova categoria</a>
    <hr>

    <table class='table table-bordered'>
        <thead>
            <tr>
                <th>Id</th>
                <th>Titulo</th>
                <th>Slug</th>
                <th>Ações</th>

            </tr>
        </thead>
        
        <tbody>
            <!-- Listando dados na tabela -->
            <% categories.forEach(category =>{ %>

                <tr>
                    <th> <%= category.id %> </th>
                    <th> <%= category.title %> </th>
                    <th> <%= category.slug %> </th>
                    <th>
                        <a href="/admin/categories/edit/<%= category.id %>" class='btn btn-warning'>Editar</a> 

                        <form method="POST" action="/categories/delete" style="display: inline;" onsubmit="confirmarDelecao(event, this)">

                            <input type="hidden" name='id' value=" <%=category.id %> ">
                        
                            <button class="btn btn-danger">Deletar</button>
                         
                        </form> 
                        
                    </th>
                </tr>

            <% }) %>

        </tbody>

    </table>

</div>

<%- include("../../partials/footer.ejs") %>

<script>

     function confirmarDelecao(event, form){
        event.preventDefault(); // Impede que o formulario seja submetido
        let decicao = confirm("Você quer deletar esta categoria ? ");
        
        if(decicao){
            form.submit();
        }
    }

</script>